<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="jsstyle.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="newstyle.css" />
    <link rel="stylesheet" href="oldstyle.css" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />

    <link rel="stylesheet" href="./css/all.min.css" />

    <link
      rel="stylesheet"
      property="stylesheet"
      id="wheelsberry-responsive-mobile-css"
      href="./css/responsive-mobile1c9b.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      property="stylesheet"
      id="omFont-css"
      href="./css/omFont1c9b.css"
      type="text/css"
      media="all"
    />
    <!-- <link
      rel="stylesheet"
      property="stylesheet"
      id="prettyphoto-css"
      href="./css/prettyPhoto.custom0147.css"
      type="text/css"
      media="all"
    /> -->
    <link
      rel="stylesheet"
      property="stylesheet"
      id="opensans400600700-css"
      href="./css/css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      property="stylesheet"
      id="montserrat400700-css"
      href="./css/css(1)"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      property="stylesheet"
      id="quicksand400700-css"
      href="./css/css(2)"
      type="text/css"
      media="all"
    />
    <!-- <link
      rel="stylesheet"
      property="stylesheet"
      id="omfw-style-custom-css"
      href="./css/style-custom1dde.css"
      type="text/css"
      media="all"
    /> -->
    <link
      rel="stylesheet"
      href="./css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      href="./css/formValidation.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="./css/bootstrap-datepicker.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/custom.css" />
    <link rel="stylesheet" type="text/css" href="./css/toastr.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyD07n2byt5-fDVkhcBicQfK8VawQRyeCVQ"></script>
  </head>
  <body
    class="home page-template-default page page-id-10 theme-taxipark woocommerce-js masthead-fixed full-width grid paceloader-enabled wpb-js-composer js-comp-ver-6.10.0 vc_responsive pace-done"
  >
    <header class="site-header">
      <div class="">
        <div class="site-header__logo">
          <div class="site-header__logo__graphic">
            <a href="https://droptaximadurai.in/">
              <img src="img/droptaxilogotrichy.png" alt="" style="width: 265px"
            /></a>
            <!-- <img src="./assets/images/logo/new-logo.png" alt=""> -->
            <h1 style="display: none">
              What makes Drop Taxi Madurai the most trusted cab service in
              Tamilnadu?
            </h1>
            <!--<h2>Madurai Meenakshi Travels</h2>-->
          </div>
        </div>
        <div class="site-header__menu-icon">
          <div class="site-header__menu-icon__middle"></div>
        </div>
        <div class="site-header__menu-content">
          <nav class="primary-nav primary-nav--pull-right">
            <ul class="none">
              <li>
                <a class="active-nav" href="https://droptaximadurai.in/"
                  >Home</a
                >
              </li>
              <li><a href="#about-section">About</a></li>
              <!-- <li><a href="package.html">Packages</a></li> -->
              <li><a href="#tariff-section">Tariff</a></li>
              <li><a href="#places-section">Places</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="cars-slider" id="cars-slider" style="background-color: #f2f2f2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 p-5">
            <form
              id="searchCabForm"
              novalidate="novalidate"
              class="fv-form fv-form-bootstrap"
              data-gtm-form-interact-id="0"
              method="post"
            >
              <!-- fieldsets -->
              <fieldset data-check-id="1" id="form-trip-details">
                <button
                  type="submit"
                  class="fv-hidden-submit"
                  style="display: none; width: 0px; height: 0px"
                ></button>
                <div class="">
                  <span class="row form-container">
                    <span class="form-inner-container">
                      <div class="col-sm-12 trip-selector">
                        <label
                          class="col-sm-6 col-6 p-1 trip first-trip boxShaddow"
                          ><input
                            type="radio"
                            name="trip"
                            value="1"
                            onclick=""
                            checked=""
                            data-fv-field="trip"
                            data-gtm-form-interact-field-id="1"
                          />
                          ONE WAY</label
                        >
                        <label class="col-sm-6 col-6 p-1 trip round-trip"
                          ><input
                            type="radio"
                            name="trip"
                            value="2"
                            onclick=""
                            data-fv-field="trip"
                            data-gtm-form-interact-field-id="0"
                          />
                          ROUND TRIP</label
                        >
                        <small
                          class="help-block"
                          data-fv-validator="notEmpty"
                          data-fv-for="trip"
                          data-fv-result="VALID"
                          style="display: none"
                          >Trip is required</small
                        >
                      </div>
                      <div class="col-sm-12 col-12 p-1">
                        <div class="form-group">
                          <label class="mb-0">PICK-UP LOCATION</label
                          ><a
                            href="javascript:void(0)"
                            onclick="getAddress()"
                            class="float-right"
                            style="font-size: 14px"
                            ><i class="fa fa-location-dot"></i> Use My Current
                            Location</a
                          >
                          <input
                            type="search"
                            style="font-size: 14px"
                            class="form-control pac-target-input"
                            name="from"
                            id="from_input"
                            placeholder="Enter Pickup Location"
                            value=""
                            data-fv-field="from"
                          />
                          <small
                            class="help-block"
                            data-fv-validator="notEmpty"
                            data-fv-for="from"
                            data-fv-result="NOT_VALIDATED"
                            style="display: none"
                            >Pickup location is required</small
                          >
                        </div>
                      </div>
                      <div class="col-sm-12 col-12 p-1">
                        <div class="form-group">
                          <label class="mb-0">DROP LOCATION</label>
                          <input
                            type="search"
                            style="font-size: 14px"
                            class="form-control pac-target-input"
                            name="to"
                            id="to_input"
                            placeholder="Enter Drop Location"
                            value=""
                            data-fv-field="to"
                            autocomplete="off"
                          />
                          <small
                            class="help-block"
                            data-fv-validator="notEmpty"
                            data-fv-for="to"
                            data-fv-result="NOT_VALIDATED"
                            style="display: none"
                            >Drop location is required</small
                          >
                        </div>
                      </div>
                      <div class="form-group d-none">
                        <input
                          type="text"
                          class="form-control"
                          name="distance"
                          id="distance"
                        />
                        <input
                          type="text"
                          class="form-control"
                          name="travel_duration"
                          id="travel_duration"
                        />
                      </div>
                      <div id="address"></div>
                      <div class="col-sm-6 col-6 p-1 pickup-details">
                        <div class="form-group">
                          <label class="mb-0 dateLabel"
                            >PICK-UP DATE &amp; TIME</label
                          >
                          <input
                            type="date"
                            class="form-control dates"
                            name="pickup_date"
                            id="pickup_date"
                            placeholder="DD-MM-YYYY"
                          />
                          <input
                            class="form-control times"
                            name="pickup_time"
                            id="pickup_time"
                            type="time"
                          />
                          <small
                            class="help-block"
                            data-fv-validator="notEmpty"
                            data-fv-for="pickup_date"
                            style="display: none"
                            >Pickup date is required</small
                          >
                        </div>
                      </div>
                      <div class="col-sm-4 col-6 p-1 returnDate hide">
                        <div class="form-group drop_date_group">
                          <label class="mb-0 dateLabel"
                            >RETURN DATE &amp; TIME</label
                          >
                          <input
                            type="date"
                            class="form-control dates"
                            name="drop_date"
                            id="drop_date"
                            placeholder="DD-MM-YYYY"
                          />
                          <input
                            class="form-control times"
                            name="pickup_time"
                            id="pickup_time"
                            type="time"
                          />
                          <small
                            class="help-block"
                            data-fv-validator="notEmpty"
                            data-fv-for="drop_date"
                            data-fv-result="NOT_VALIDATED"
                            style="display: none"
                            >Drop date is required</small
                          >
                        </div>
                      </div>
                      <div class="col-sm-6 col-12 p-0 pl-1 pr-1 book-btn">
                        <button
                          class="btn btn-lg btn-primary"
                          type="submit"
                          id="bookNow"
                        >
                          Check Price
                        </button>

                        <p id="kilo"></p>
                      </div>
                    </span>
                  </span>
                </div>
              </fieldset>

              <fieldset id="form-cab-details">
                <div class="row form-container">
                  <div class="form-inner-container">
                    <div>
                      <h6>Sedan</h6>
                      <div class="cost-details-container">
                        <img src="img/WHITE_d0d2d4.webp" alt="" />

                        <div>
                          <div>ONE WAY</div>
                          <div>Cost: <span id="sedan-cost"></span></div>
                          <div class="km-distance">Km: <span></span></div>
                          <button>Book Now</button>
                        </div>
                      </div>
                      <div class="car-features">
                        <div style="min-width: 100%">
                          <i class="fa-solid fa-people-group"></i> 4 passengers
                          + 1 Driver
                        </div>
                        <div>
                          <i class="fa-solid fa-music"></i> Music System
                        </div>
                        <div>
                          <i class="fa-solid fa-temperature-arrow-down"></i>
                          Air Conditioner
                        </div>

                        <ul>
                          <li>Additional Toll booth & Hills Charges</li>
                          <li>
                            Permit charges if traveled across other states
                          </li>
                          <li>
                            Waiting charges for 1 hr free; 120 Rs/hour after 1
                            hr
                          </li>
                          <li>Minimum running must be 130 kms.</li>
                        </ul>
                      </div>
                    </div>

                    <div>
                      <h6>SUV</h6>
                      <div class="cost-details-container">
                        <img src="img/innova.webp" alt="" />
                        <div>
                          <div>ONE WAY</div>
                          <div>Cost: <span id="suv-cost"></span></div>
                          <div class="km-distance">Km: <span></span></div>
                          <button>Book Now</button>
                        </div>
                      </div>
                      <div class="car-features">
                        <div style="min-width: 100%">
                          <i class="fa-solid fa-people-group"></i> 7 passengers
                          + 1 Driver
                        </div>
                        <div>
                          <i class="fa-solid fa-music"></i> Music System
                        </div>
                        <div>
                          <i class="fa-solid fa-temperature-arrow-down"></i>
                          Air Conditioner
                        </div>
                        <!-- <div>
                          <i class="fa-solid fa-suitcase-rolling"></i> 5
                          Luggages
                        </div> -->
                        <ul>
                          <li>Additional Toll booth & Hills Charges</li>
                          <li>
                            Permit charges if traveled across other states
                          </li>
                          <li>
                            Waiting charges for 1 hr free; 120 Rs/hour after 1
                            hr
                          </li>
                          <li>Minimum running must be 130 kms.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- progressbar -->
              <ul class="progressbar">
                <li class="active">Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- About us -->
    <section style="width: 100%" id="about-section">
      <div class="row">
        <h2>About Us</h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-6">
          <div class="">
            <div class="choose__image-container">
              <!-- <img src="assets/images/svg/calendar.svg" alt="" class="choose__image"> -->
              <img
                src="img/available.jpg"
                alt=""
                class="choose__image square"
              />
            </div>
            <h6>24 x 7 Customer Service</h6>
          </div>
          <div class="">
            <div class="choose__image-container">
              <!-- <img src="assets/images/svg/best-price.svg" alt="" class="choose__image"> -->
              <!-- <img src="assets/images/svg/budget-c.svg" alt="" class="choose__image"> -->
              <img src="img/save.jpg" alt="" class="choose__image square" />
            </div>
            <h6>Transperent Pricing</h6>
          </div>
          <div class="">
            <div class="choose__image-container">
              <!-- <img src="assets/images/svg/camper-van.svg" alt="" class="choose__image"> -->
              <img src="img/stereo.jpg" alt="" class="choose__image square" />
            </div>
            <h6>Stereos and multimedia support</h6>
          </div>
          <!-- <div class="">
            <div class="choose__image-container">
              <img
                src="assets/images/choose-us/3.jpg"
                alt=""
                class="choose__image square"
              />
            </div>
            <h6>Speed Limit</h6>
          </div> -->
        </div>
        <div class="col-md-4 hide-mobile" style="position: relative">
          <img class="car-image" src="img/car-big-side.png" alt="" />
        </div>
        <div class="col-md-4 col-6">
          <div class="">
            <div class="choose__image-container">
              <img
                src="img/professional.jpg"
                alt=""
                class="choose__image square"
              />
            </div>
            <h6>Well Trained and Friendly Drivers</h6>
          </div>
          <div class="">
            <div class="choose__image-container">
              <img src="img/time.jpg" alt="" class="choose__image square" />
            </div>
            <h6>Always on Time</h6>
          </div>
          <div class="">
            <div class="choose__image-container">
              <img
                src="img/maintained.jpg"
                alt=""
                class="choose__image square"
              />
            </div>
            <h6>Clean and Well maintained Cars</h6>
          </div>
          <!-- <div class="">
            <div class="choose__image-container">
              <img
                src="assets/images/choose-us/2.jpg"
                alt=""
                class="choose__image square"
              />
            </div>
            <h6>Corona safety guidelines followed</h6>
          </div> -->
        </div>
      </div>
    </section>

    <!-- Traiff -->
    <section style="width: 100%" id="tariff-section">
      <div class="row">
        <h2>Our Transperant Traiff</h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="single-taxi-one">
            <div class="inner-content">
              <img src="img/WHITE_d0d2d4.webp" alt="Awesome Image" />
              <!-- <div class="icon-block">
                        <i class="conexi-icon-bmw"></i>
                    </div> --><!-- /.icon-block -->
              <h3>sedan</h3>
              <ul class="feature-list">
                <li>
                  <span class="name-line">ONE WAY DROP</span>
                  <span class="price-line">₹13/Km</span>
                </li>
                <li>
                  <span class="name-line">ROUND WAY TRIP</span>
                  <span class="price-line">₹12/Km</span>
                </li>
                <li>
                  <span class="name-line">DRIVER BATA </span>
                  <span class="price-line">₹300</span>
                </li>
                <li>
                  <span class="name-line" style="text-align: left"
                    >DRIVER BATA (above 400km)</span
                  >
                  <span class="price-line">₹400</span>
                </li>
                <li>
                  <span class="name-line" style="text-align: left"
                    >SEATING CAPACITY</span
                  >
                  <span class="price-line">4+1</span>
                </li>
              </ul>
              <!-- /.feature-list -->
              <a href="#book" class="book-taxi-btn">Book Taxi</a>
            </div>
            <!-- /.inner-content -->
          </div>
          <!-- /.single-taxi-one -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="single-taxi-one">
            <div class="inner-content">
              <img src="img/innova.webp" alt="Awesome Image" />
              <!-- <div class="icon-block">
                        <i class="conexi-icon-mercedes-benz"></i>
                    </div> --><!-- /.icon-block -->
              <h3>suv</h3>
              <ul class="feature-list">
                <li>
                  <span class="name-line">ONE WAY DROP</span>
                  <span class="price-line">₹18/Km</span>
                </li>
                <li>
                  <span class="name-line">ROUND WAY TRIP</span>
                  <span class="price-line">₹17/Km</span>
                </li>
                <li>
                  <span class="name-line">DRIVER BATA </span>
                  <span class="price-line">₹400</span>
                </li>
                <li>
                  <span class="name-line" style="text-align: left"
                    >DRIVER BATA (above 400km)</span
                  >
                  <span class="price-line">₹500</span>
                </li>
                <li>
                  <span class="name-line" style="text-align: left"
                    >SEATING CAPACITY</span
                  >
                  <span class="price-line">7+1</span>
                </li>
              </ul>
              <!-- /.feature-list -->
              <a href="#book" class="book-taxi-btn">Book Taxi</a>
            </div>
            <!-- /.inner-content -->
          </div>
          <!-- /.single-taxi-one -->
        </div>
      </div>
    </section>

    <!-- Call us -->
    <section class="cta-section padding">
      <div
        class="cta-men wow fade-in-bottom"
        data-wow-delay="200ms"
        style="
          visibility: visible;
          animation-delay: 200ms;
          animation-name: fade-in-bottom;
        "
      ></div>
      <div class="container">
        <div class="cta-content">
          <h2>
            Call Us Now <span>Book Your Taxi</span> <br />
            For Your Next Ride!
          </h2>
          <p>
            We successfully cope with tasks of varying complexity,<br />guarantees
            and regularly master new technologies.
          </p>
          <div class="cta-call">
            <i class="las la-phone-volume"></i>
            <p>
              <span>Call or WhatsApp </span
              ><a href="tel:7418320444"> 7418-320-444</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Famous Routes -->
    <section style="width: 100%" id="places-section">
      <div class="container">
        <div class="d-flex jc-between ai-center">
          <div class="row">
            <h2 class="" style="text-align: center">Popular Trips</h2>
          </div>
          <!-- <a href="/outstation-cabs" class="view-btn">View All</a> -->
        </div>
        <div class="row">
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Chennai.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="/outstation-cabs/chennai-tiruchirappalli-taxi"
                    >Trichy to Chennai at Rs.5137</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-tiruchirappalli-taxi"
                    >View more</a
                  >
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Coimbatore3.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="/outstation-cabs/chennai-coimbatore-taxi"
                    >Trichy to Coimbatore at Rs.7722</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-coimbatore-taxi"
                    >View more</a
                  >
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img
                src="/img/Madurai-Meenakshi-Temple-History-Timings-How-to-Reach.avif"
                alt="popular trips"
              />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="/outstation-cabs/chennai-madurai-taxi"
                    >Trichy to Madurai at Rs.7050</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-madurai-taxi">View more</a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Kanyakumari.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="/outstation-cabs/chennai-vellore-taxi"
                    >Trichy to Kanyakumari at Rs.2099</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-vellore-taxi">View more</a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Pondicherry.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="/outstation-cabs/chennai-pondicherry-taxi"
                    >Trichy to Pondicherry at Rs.2199</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-pondicherry-taxi"
                    >View more</a
                  >
                </div> -->
              </div>
            </div>
          </div>

          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Rameshwaram.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="img/droptaxi-Rameshwaram.jpg"
                    >Trichy to Rameshwaram at Rs.2956</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-tirupati-taxi">View more</a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Thiruvanamalai.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="">Trichy to Tiruvannamalai at Rs.3057</a>
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-tiruvannamalai-taxi"
                    >View more</a
                  >
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Bangalore.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="">Trichy to Bangalore at Rs.4899</a>
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-bangalore-taxi"
                    >View more</a
                  >
                </div> -->
              </div>
            </div>
          </div>
          <div class="c-lg-4 c-md-6 c-12 mb-4">
            <div class="card ptr-card">
              <img src="img/droptaxi-Salem.jpg" alt="popular trips" />
              <div class="px-sm-3 px-2 py-2">
                <h6>
                  <a href="/outstation-cabs/chennai-salem-taxi"
                    >Trichy to Salem at Rs.5367</a
                  >
                </h6>
                <p>One-way taxi</p>
                <!-- <div class="t-ryt">
                  <a href="/outstation-cabs/chennai-salem-taxi">View more</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section
      data-vc-full-width="true"
      data-vc-full-width-init="true"
      class="vc_section vc_custom_1547500878812 vc_section-has-fill homepage-block-1"
      style="
        position: relative;

        padding-left: 343px;
        padding-right: 360px;
      "
    >
      <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="heading align-center" id="like_sc_header_1625164210">
                <h4>Book Taxi Now</h4>
                <h2>866 745 9121</h2>
                <span class="icon-bg fa fa-phone-square"></span>
              </div>
              <div class="large-image-center">
                <img src="img/car-big.png" class="full-width" alt="animation" />
                <img src="img/car-splash.png" class="splash" alt="Taxi" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <form autocomplete="off">
      <div class="container">
        <div class="row">
          <div class="c-12 mb-4 mob-pad">
            <div class="mt-4 pt-3">
              <div class="card booking-card">
                <div class="place-flex">
                  <div class="card place-card">
                    <img class="mb-picdrop" src="img/mb-pic-drop.png" />
                    <div class="hp-pickup position-relative">
                      <label class="form-label">Pickup</label
                      ><input
                        type="text"
                        class="form-control pac-target-input"
                        placeholder="Enter your pickup point"
                        data-testing-name="pickup"
                        name="pickup"
                        value=""
                        autocomplete="off"
                      />
                    </div>
                    <div class="hp-drop position-relative">
                      <label class="form-label">Drop</label
                      ><input
                        type="text"
                        class="form-control pac-target-input"
                        placeholder="Enter your drop point"
                        data-testing-name="dropoff"
                        name="dropoff"
                        value=""
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
                <div class="extra-flex">
                  <div class="position-relative">
                    <div class="card dt-card">
                      <div class="hp-date position-relative">
                        <label class="form-label"
                          >Date<img
                            class="mt-n1 ml-2"
                            src="img/arr-down.svg"
                            alt="arr-down" /></label
                        ><img class="mb-image pb-3 pr-3" src="img/date.svg" />
                        <div class="react-datepicker-wrapper">
                          <div class="react-datepicker__input-container">
                            <input
                              type="text"
                              data-validation-name="Transfer date"
                              value=""
                              name="travelDate"
                              placeholder="Date"
                              class="form-control"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="hp-time position-relative">
                        <label class="form-label"
                          >Time<img
                            class="mt-n1 ml-2"
                            src="img/arr-down.svg"
                            alt="" /></label
                        ><img class="mb-image pb-3 pr-3" src="img/time.svg" />
                        <div class="react-datepicker-wrapper">
                          <div class="react-datepicker__input-container">
                            <input
                              type="text"
                              data-validation-name="Transfer time"
                              value=""
                              name="travelTime"
                              placeholder="Time"
                              class="form-control"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card mb-return d-flex">
                      <div class="tickbox">
                        <label
                          >Round trip?<input type="checkbox" /><span
                            class="checkmark"
                          ></span
                        ></label>
                      </div>
                    </div>
                    <div class="card rdt-card close"></div>
                  </div>
                  <div class="card count-card">
                    <div class="hp-passenger position-relative">
                      <label class="form-label"
                        >Passenger<img
                          class="mt-n1 ml-2"
                          src="img/arr-down.svg"
                          alt="" /></label
                      ><img class="mb-image pr-3" src="img/passenger.svg" />
                      <div class="d-flex ai-center">
                        <ul class="drop-down">
                          <input
                            type="hidden"
                            name="passengerCount"
                            value="1"
                          />
                          <ul class="dd-value dd-close"></ul>
                        </ul>
                      </div>
                      <img
                        class="mb-image mb-arr ml-4"
                        src="/assets/images/arr-down.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="card btn-card">
                  <button class="btn btn-dark">Get taxi</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form> -->
    <!-- <section style="width: 100%; height: 500px"></section> -->

    <div class="callus-logo">
      <a href="tel:+917418320444">
        <img class="phonecall" src="img/call.png" alt="" /><br />
        Click to Call
      </a>

      <span>or</span>
      <a href="https://wa.me/917418320444" target="_blank">
        <img class="whatsapp" src="img/whatsapp-full.png" alt="" />
      </a>
    </div>

    <footer
      class="footer-wrapper footer-layout7 background-image"
      style="background-image: url('assets/img/bg/footer_bg_1.jpg')"
    >
      <div class="widget-area">
        <div class="">
          <div class="row justify-content-between">
            <div class="col-md-6 col-xl-auto">
              <div class="widget footer-widget">
                <div class="th-widget-about">
                  <div class="about-logo">
                    <a href="index.html"
                      ><img src="img/droptaxilogotrichy.png" alt="Taxiar"
                    /></a>
                  </div>
                  <p class="about-text">
                    Drop Taxi Trichy Is A Professional Tour And Travel Operators
                    In Trichy And We Offer Intercity And Outstation Car Rentals
                    Across South India. All Our Cabs Are Well Maintained And
                    Sanitized With Friendly Drivers To Provide You A Wonderful
                    Travel Experience.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-2">
              <div class="widget widget_nav_menu footer-widget">
                <h3 class="widget_title">Quick link</h3>
                <div class="menu-all-pages-container">
                  <ul class="menu">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="booking.html">Work Gallery</a></li>
                    <li><a href="service.html">Client Feedback</a></li>
                    <li><a href="service.html">Our Services</a></li>
                    <li><a href="team.html">Our Team</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-auto">
              <div class="widget footer-widget">
                <h3 class="widget_title">Contact Details</h3>
                <div class="th-widget-about">
                  <h4 class="footer-info-title">Phone Number</h4>
                  <p class="footer-info">
                    <i class="fa-sharp fa-solid fa-phone"></i
                    ><a class="text-inherit" href="tel:+918667459121"
                      >+91 866 745 9121</a
                    >
                  </p>
                  <h4 class="footer-info-title">Email Address</h4>
                  <p class="footer-info">
                    <i class="fas fa-envelope"></i
                    ><a
                      class="text-inherit"
                      href="mailto:droptaxitrichy.com@gmail.com"
                      >droptaxitrichy.com@gmail.com</a
                    >
                  </p>
                  <h4 class="footer-info-title">Office Location</h4>
                  <p class="footer-info">
                    <i class="fas fa-map-marker-alt"></i>25 Street, 145 City
                    Road New Town Trichy, Tamil Nadu - 6250001
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="widget footer-widget">
                <h4 class="widget_title">WE ARE AVAILABLE</h4>
                <div class="working-time">
                  <span class="title"></span>
                  <p class="desc">Mon-Sat: 09.00 am to 6.30 pm</p>
                </div>
                <div class="th-social footer-social">
                  <a href="https://www.facebook.com/"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="https://www.twitter.com/"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a href="https://www.linkedin.com/"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                  <a href="https://www.behance.net/"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-wrap">
        <div class="container">
          <p class="copyright-text">
            © 2023
            <a href="https://themeforest.net/user/themeholy"
              >Sri Madurai Meenakshi Tours and Travels.</a
            >. All Rights Reserved.
          </p>
        </div>
      </div>
      <div class="footer-shape">
        <img src="img/footer_shape.png" alt="shape" />
      </div>
    </footer>

    <script>
      $(".round-trip").click(function () {
        $(".pickup-details").removeClass("col-sm-6").addClass("col-sm-4");
        $(".book-btn").removeClass("col-sm-6").addClass("col-sm-4");
        $(".returnDate").show();
      });
      $(".first-trip").click(function () {
        $(".pickup-details").removeClass("col-sm-4").addClass("col-sm-6");
        $(".book-btn").removeClass("col-sm-4").addClass("col-sm-6");
        $(".returnDate").hide();
      });
      function sendWAConfirmation() {
        let url =
          "https://wa.me/9597174783?text= your booking enquire has been received and confirm you some time.";
        window.open(url, "_blank");
      }

      const searchInput1 = "from_input";
      const searchInput2 = "to_input";

      $(document).ready(function () {
        const autocomplete = new google.maps.places.Autocomplete(
          document.getElementById(searchInput1),
          {
            types: ["geocode"],
            componentRestrictions: {
              country: "IND",
            },
          }
        );
        const autocomplete2 = new google.maps.places.Autocomplete(
          document.getElementById(searchInput2),
          {
            types: ["geocode"],
            componentRestrictions: {
              country: "IND",
            },
          }
        );

        //   let request =  {
        //     origin: document.getElementById("from_input").value,
        //     destination: document.getElementById("from_input").value,
        //     travelMode: google.maps.TravelMode.DRIVING,
        //     unitSystem: google.maps.unitSystem.IMPERIAL
        //   }

        //   DirectionsService.route(request, function(result, status) {

        //   })

        // });

        // $(function () {
        //     // add input listeners
        //     // google.maps.event.addDomListener(window, "load", function () {
        //     //   var from_places = new google.maps.places.Autocomplete(
        //     //     document.getElementById("from_places")
        //     //   );
        //     //   var to_places = new google.maps.places.Autocomplete(
        //     //     document.getElementById("to_places")
        //     //   );

        //       // google.maps.event.addListener(
        //       //   from_places,
        //       //   "place_changed",
        //       //   function () {
        //       //     var from_place = from_places.getPlace();
        //       //     var from_address = from_place.formatted_address;
        //       //     $("#origin").val(from_address);
        //       //   }
        //       // );

        //       google.maps.event.addListener(
        //         to_places,
        //         "place_changed",
        //         function () {
        //           var to_place = to_places.getPlace();
        //           var to_address = to_place.formatted_address;
        //           $("#destination").val(to_address);
        //         }
        //       );
        //     });
        // calculate distance
        function calculateDistance() {
          var origin = $("#from_input").val();
          var destination = $("#to_input").val();
          var service = new google.maps.DistanceMatrixService();
          service.getDistanceMatrix(
            {
              origins: [origin],
              destinations: [destination],
              travelMode: google.maps.TravelMode.DRIVING,
              unitSystem: google.maps.UnitSystem.IMPERIAL, // miles and feet.
              // unitSystem: google.maps.UnitSystem.metric, // kilometers and meters.
              avoidHighways: false,
              avoidTolls: false,
            },
            callback
          );
        }
        // get distance results
        function callback(response, status) {
          if (status != google.maps.DistanceMatrixStatus.OK) {
            $("#result").html(err);
          } else {
            var origin = response.originAddresses[0];
            console.log(origin);
            var destination = response.destinationAddresses[0];
            console.log(destination);
            if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
              $("#result").html(
                "Better get on a plane. There are no roads between " +
                  origin +
                  " and " +
                  destination
              );
            } else {
              var distance = response.rows[0].elements[0].distance;
              console.log(distance);
              var duration = response.rows[0].elements[0].duration;
              console.log(duration);
              console.log(response.rows[0].elements[0].distance);
              var distance_in_kilo = distance.value / 1000; // the kilom
              var distance_in_mile = distance.value / 1609.34; // the mile
              console.log(distance_in_kilo);
              var duration_text = duration.text;
              var duration_value = duration.value;
              ourDistance =
                distance_in_kilo.toFixed(2) > 300
                  ? distance_in_kilo.toFixed(2)
                  : 130;
              console.log("ourDistance", ourDistance);
              bata = ourDistance > 400 ? 400 : 300;
              console.log("bata", bata);
              $("#kilo").html(`Distance in Kilometre: ${ourDistance}`);
              $("#sedan-cost").html(
                "₹ " +
                  (Number(ourDistance).toFixed(0) * 13 + bata) +
                  "<sup>*</sup> /-"
              );
              $("#suv-cost").html(
                "₹ " +
                  (Number(ourDistance).toFixed(0) * 18 + bata) +
                  "<sup>*</sup> /-"
              );
              $(".km-distance span").html(Number(ourDistance).toFixed(0));
              //   $("#text").html(`Distance in Text: ${duration_text}`);
              //   $("#minute").html(`Distance in Minutes: ${duration_value}`);
              //   $("#from").html(`Distance From: ${origin}`);
              //   $("#to").text(`Distance to: ${destination}`);
            }
          }
        }
        // print results on submit the form
        $("#searchCabForm").submit(function (e) {
          $("#form-trip-details").hide();
          $("#form-cab-details").show();
          $(".progressbar li:nth-child(2)").addClass("active");
          e.preventDefault();
          calculateDistance();
        });
      });

      $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10) month = "0" + month.toString();
        if (day < 10) day = "0" + day.toString();

        var maxDate = year + "-" + month + "-" + day;

        $("#pickup_date").attr("min", maxDate);
      });
    </script>
  </body>
</html>
