* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.widget-area .row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#form-cab-details img {
    max-width: 200px;
}

#form-cab-details, #form-user-details {
    display: none;
}

#form-cab-details .form-inner-container {
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#form-cab-details .form-inner-container > div {
    background-color: #fff;
    width: 40%;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    max-width: 420px;
}

#form-cab-details .form-inner-container h6 {
    color: #1274b9;
    text-align: center;
    font-weight: 600;
}

.cost-details-container {
    display: flex;
}

.car-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#form-cab-details .form-inner-container ul {
    margin: 5px auto;
}

#form-cab-details .form-inner-container li {
    text-align: left;
    font-size: 12px;
    line-height: 16px;    
}

.cost-details-container  div {
    text-align: left;
}

.cost-details-container button {
    background-color: #1274b9;
    color: #fff;
    padding: 5px 20px;
    border: 0px;
    border-radius: 20px;
    margin: 10px 30px;
}

#form-user-details .form-inner-container {
    z-index: 2;
}


#form-user-details .form-inner-container .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

#form-user-details .form-inner-container > div {
    width: 100%;
}

#form-user-details .btn-primary {
    width: 100%;
    height: 75px;
    font-size: 1.5rem;
    border-radius: 15px;
}

#form-user-details .form-control {
    border: 0px !important;
    background: #fff !important;
    padding: 0px;
    padding-right: 10px;
}

#form-user-details select {
    border-radius: 8px;
    padding: 2px;
    margin-left: 10px;
}

.form-group-col {
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 3px #22222226;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    float: left;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group-col label {
    border: 0px !important;
    background: #fff !important;
    padding: 0px;
    padding-right: 10px;
}


@media (min-width: 576px) {
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}